*{  
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(10, 10, 10);
    height: 6vh;
    align-items: center;
    }
nav ul li{
    list-style-type:none;
    padding: 10px;
    
    /* padding: 20px; */
}
nav ul li a{
    color:white;
    text-decoration: none;
}
nav ul li a:hover{
    color: rgb(102, 176, 236);
    font-weight: bold;
    
    
}
nav ul{
    display: flex;
    justify-content: flex-start;
    /* align-items:center ; */
    height: 6vh;
    color: white;
    
}
nav{
    display: flex;
}

.container{
    background-color: black;
}
.heading{
    width: 50vw;
    height: 10vh;
    /* background-color: blue; */
    font-size: 60px;
    font-weight: bold;
    color: white;
    text-decoration: underline;
}
.row1{
    display: flex;
}
.bx1{
    width: 50vw;
    height: 80vh;
    background-color:black;
    
}
.para{
    position: relative;
    left: 10px;
    top: 30px;
    color: white;
    font-size: 30px;
}
.button{
    position:relative;
    top: 5vh;
    left: 10vw;
    background-color: #e90808; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
#math{
    font-size: 50px;
    position: relative;
    top: 20px;
    left: 40px;
    color: white;
}
.bx2{
    width: 50vw;
    height: 80vh;
    
    background-image: url(../IMG/math.avif);
    background-repeat: no-repeat;
    background-size: cover;
}
.row2{
    display: flex;
}
.bx3{
    width: 50vw;
    height: 80vh;
    background-image: url(../IMG/john.avif);
    background-repeat: no-repeat;
    background-size: cover;
}
.bx4{
    width: 50vw;
    height: 80vh;
    background-color: rgb(1, 1, 15);
}
 #john{
    font-size: 50px;
    position: relative;
    top: 20px;
    left: 130px;
    color: white;
}
.para2{
    position: relative;
    left: 10px;
    top: 30px;
    color: white;
    font-size: 30px;
}
.row3{
    display: flex;
}
.bx5{
    width: 50vw;
    height: 80vh;
    background-color: rgb(7, 7, 7);
}
.bx6{
    width: 50vw;
    height: 80vh;
    background-image: url(../IMG/inna.avif);
    background-repeat: no-repeat;
    background-size: cover;
}
.happen{
    width: 100vw;
    height: 60vh;
    background-color: aliceblue;
}
.happen h5{
    font-size: 45px;
    position: relative;
    left: 10vw;
    top: 15vh;
}
.btnnn{
    position:relative;
    top: 20vh;
    left: 10vw;
    background-color: #e90808; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
footer{
    /* width: 50vw; */
    display: flex;
   height:30vh;
   width:100vw;
   color: rgb(19, 18, 18);
   background-color: rgb(15, 15, 15);
   
}

.box1{
   width: 55vw;
   display:inline-block
   justify-content: center;
   color: white;
   margin: 0px;
   padding: 20px;
}

.box2{
   width: 50vw;
   padding: 20px;
color: white;
}